body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    background-image:url(img/quiz-single-word-set-with-vintage-letterpress-printing-blocks-on-rustic-wooden-background-surrounded-by-exclamation-and-question-marks-RY8WEG.jpg);
}

.quiz-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: rgb(20, 231, 133);
}

#question-container {
    margin-bottom: 20px;
}

.question {
    margin-bottom: 10px;
}

.options {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
   
}

.option {
    margin-bottom: 5px; 
}

#submit-btn {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#submit-btn:hover {
    background-color: #0056b3;
}

#result {
    text-align: center;
    font-weight: bold;
}

.correct-answer{
    color: #fff;
    background-color: rgb(52, 99, 6);
}

.wrong-answer{
    color: #fff;
    background-color: rgb(219, 37, 37);
}

.other-answer{
    color: #857807;
   
}
.mode > div:nth-child(2) {
    display: flex;
    flex-direction: column;
   align-items: center;
  }
  

.mode button{
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-bottom: 5px; 
    justify-content: center;

}
.numof-question{
    height: 30px;
}
nav {
    background-color: #333;
    overflow: hidden;
  }

  nav a {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }

  nav a:hover {
    background-color: #ddd;
    color: black;
  }